NODE-RED-conversation-with-text-to-speech-and-speech-to-text.json
[{"id":"52edbd9.46e2244","type":"tab","label":"Conversation + Discovery","disabled":false,"info":""},{"id":"8533c49e.e831e8","type":"watson-conversation-v1","z":"52edbd9.46e2244","name":"","workspaceid":"a6591f1a-4cc5-442a-83de-5e353b116506","multiuser":false,"context":true,"empty-payload":false,"default-endpoint":false,"service-endpoint":"","x":470,"y":460,"wires":[["7eb5d2c0.2c21ec"]]},{"id":"eca7c082.d4ba7","type":"watson-speech-to-text","z":"52edbd9.46e2244","name":"","alternatives":"","speakerlabels":false,"smartformatting":false,"lang":"en-US","langhidden":"en-US","langcustom":"NoCustomisationSetting","langcustomhidden":"","band":"NarrowbandModel","bandhidden":"NarrowbandModel","password":"KpgEq5IiL2Kh","payload-response":false,"streaming-mode":false,"default-endpoint":false,"service-endpoint":"","x":180,"y":300,"wires":[["de5cce2e.7fa9e"]]},{"id":"a2dfa54f.2866c8","type":"watson-text-to-speech","z":"52edbd9.46e2244","name":"","lang":"en-GB","langhidden":"en-GB","langcustomhidden":"","voice":"en-GB_KateVoice","voicehidden":"","format":"audio/wav","password":"OhtQYbGMuV0t","payload-response":true,"default-endpoint":false,"service-endpoint":"","x":720,"y":460,"wires":[["3dbbcc0b.ca3c64"]]},{"id":"de5cce2e.7fa9e","type":"function","z":"52edbd9.46e2244","name":"set payload","func":"msg.payload = msg.transcription;\n\n\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":240,"wires":[["ed5d8a37.6a9938"]]},{"id":"3dbbcc0b.ca3c64","type":"function","z":"52edbd9.46e2244","name":"set payload","func":"msg.payload = msg.speech;\nreturn msg;","outputs":1,"noerr":0,"x":810,"y":520,"wires":[["d4177ae1.91c038"]]},{"id":"d4177ae1.91c038","type":"play audio","z":"52edbd9.46e2244","name":"","x":930,"y":460,"wires":[]},{"id":"96cd38de.615598","type":"watson-conversation-v1","z":"52edbd9.46e2244","name":"","workspaceid":"59b67fe8-276f-42f9-8ebf-5bea35ff29ac","multiuser":true,"context":true,"x":555.3333129882812,"y":1585.7500295639038,"wires":[["9066a019.b121a"]]},{"id":"4636b7ca.ad44a8","type":"inject","z":"52edbd9.46e2244","name":"","topic":"","payload":"hello","payloadType":"str","repeat":"","crontab":"","once":false,"x":146.33331298828125,"y":1503.7500295639038,"wires":[["3b2def6f.5a313"]]},{"id":"bb229221.95345","type":"inject","z":"52edbd9.46e2244","name":"","topic":"","payload":"watson","payloadType":"str","repeat":"","crontab":"","once":false,"x":146.83331298828125,"y":1540.7500295639038,"wires":[["3b2def6f.5a313"]]},{"id":"3b2def6f.5a313","type":"function","z":"52edbd9.46e2244","name":"set user 1","func":"msg.user = '1';\n\nreturn msg;","outputs":1,"noerr":0,"x":317.83331298828125,"y":1539.7500295639038,"wires":[["96cd38de.615598"]]},{"id":"da73083b.814698","type":"inject","z":"52edbd9.46e2244","name":"","topic":"","payload":"hello","payloadType":"str","repeat":"","crontab":"","once":false,"x":145.33331298828125,"y":1624.7500295639038,"wires":[["df8ef2a8.70ab3"]]},{"id":"6a316365.6c32fc","type":"inject","z":"52edbd9.46e2244","name":"","topic":"","payload":"cics","payloadType":"str","repeat":"","crontab":"","once":false,"x":145.83331298828125,"y":1660.7500295639038,"wires":[["df8ef2a8.70ab3"]]},{"id":"df8ef2a8.70ab3","type":"function","z":"52edbd9.46e2244","name":"set user 2","func":"msg.user = '2';\n\nreturn msg;","outputs":1,"noerr":0,"x":316.83331298828125,"y":1659.7500295639038,"wires":[["96cd38de.615598"]]},{"id":"9066a019.b121a","type":"debug","z":"52edbd9.46e2244","name":"","active":true,"console":"false","complete":"payload.output.text","x":774.3333129882812,"y":1585.7500295639038,"wires":[]},{"id":"e9d5f389.ffff6","type":"inject","z":"52edbd9.46e2244","name":"","topic":"","payload":"hello","payloadType":"str","repeat":"","crontab":"","once":false,"x":322.33331298828125,"y":1406.7500295639038,"wires":[["96cd38de.615598"]]},{"id":"233981d2.7a118e","type":"inject","z":"52edbd9.46e2244","name":"","topic":"","payload":"watson","payloadType":"str","repeat":"","crontab":"","once":false,"x":322.33331298828125,"y":1442.7500295639038,"wires":[["96cd38de.615598"]]},{"id":"5ac0d434.f00f9c","type":"inject","z":"52edbd9.46e2244","name":"","topic":"","payload":"hello","payloadType":"str","repeat":"","crontab":"","once":false,"x":193.83331298828125,"y":1754.7500295639038,"wires":[["354ea3fc.d0e4ec"]]},{"id":"354ea3fc.d0e4ec","type":"function","z":"52edbd9.46e2244","name":"reset context","func":"msg.params = {\n    context: {}\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":338.83331298828125,"y":1754.7500295639038,"wires":[["96cd38de.615598"]]},{"id":"fdbfa0c5.ac943","type":"inject","z":"52edbd9.46e2244","name":"","topic":"","payload":"yes","payloadType":"str","repeat":"","crontab":"","once":false,"x":146.83331298828125,"y":1576.7500295639038,"wires":[["3b2def6f.5a313"]]},{"id":"b14e6c38.ac537","type":"inject","z":"52edbd9.46e2244","name":"","topic":"","payload":"yes","payloadType":"str","repeat":"","crontab":"","once":false,"x":145.33331298828125,"y":1696.7500295639038,"wires":[["df8ef2a8.70ab3"]]},{"id":"3d778d3b.e01842","type":"inject","z":"52edbd9.46e2244","name":"","topic":"","payload":"yes","payloadType":"str","repeat":"","crontab":"","once":false,"x":322.33331298828125,"y":1478.7500295639038,"wires":[["96cd38de.615598"]]},{"id":"59f7f560.25a18c","type":"microphone","z":"52edbd9.46e2244","name":"","x":150,"y":220,"wires":[["eca7c082.d4ba7"]]},{"id":"7eb5d2c0.2c21ec","type":"function","z":"52edbd9.46e2244","name":"set payload","func":"node.warn(\"Conversation output is:\\n\" + JSON.stringify(msg.payload))\n\nif (msg.payload.output && msg.payload.output.text) {\n    output = msg.payload.output.text.join(' ');\n    output = output.split('|')\n    .filter(function(c) {\n        return c.indexOf(\"tweet:\") === -1 && c.indexOf(\"link:\") === -1;\n    }).join(' ');\n} else {\n    output = 'No response';\n}\n\nnode.warn(\"Conversation output: \\n\" + output)\nmsg.payload = output;\nnode.send([null,msg]);","outputs":"2","noerr":0,"x":470,"y":540,"wires":[["a2dfa54f.2866c8"],[]]},{"id":"ed5d8a37.6a9938","type":"link out","z":"52edbd9.46e2244","name":"gototone","links":["961a01a9.2bce5"],"x":395,"y":300,"wires":[]},{"id":"961a01a9.2bce5","type":"link in","z":"52edbd9.46e2244","name":"convIn","links":["36df1a62.3eae06","b20e7f8c.019e9","ed5d8a37.6a9938"],"x":395,"y":380,"wires":[["8533c49e.e831e8"]]}]