NODE-RED-conversation-with-discovery.json
[{"id":"7c88ce6d.23512","type":"tab","label":"Conversation + Discovery","disabled":false,"info":""},{"id":"9b56d6de.e8896","type":"watson-conversation-v1","z":"7c88ce6d.23512","name":"","workspaceid":"a6591f1a-4cc5-442a-83de-5e353b116506","multiuser":false,"context":false,"empty-payload":false,"default-endpoint":false,"service-endpoint":"","x":340,"y":128,"wires":[["96a62959.b26128"]]},{"id":"f2604027.0da728","type":"http in","z":"7c88ce6d.23512","name":"BOT Home Page","url":"/bot","method":"get","upload":false,"swaggerDoc":"","x":106,"y":81,"wires":[["c5bafa1b.91dc78"]]},{"id":"c5bafa1b.91dc78","type":"template","z":"7c88ce6d.23512","name":"Conversation BOT Template","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n  <head>\n    <meta charset=\"utf-8\">\n    <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n    <title>\n\t  My BOT\n\t</title>\n\t<link rel=\"stylesheet\"\n        type=\"text/css\"\n        href=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css\" />\n  </head>\n  <body>\n\n    <div class=\"container\">\n      <div id=\"no-script\"class=\"bg-info\">\n        This application needs JavaScript enabled in your browser!\n      </div>\n      <div id=\"id_contextdump\"></div>\n\n      <h1>Moodle Node red Chatbot</h1>\n      <div id=id_botchathistory>\n\t  </div>\n\t  \n\t  <div>\n\t      <form>\n            <label for=\"id_chattext\">Your Input: </label>\n            <input type=\"text\" name=\"chattext\" id=\"id_chattext\">\n            <br/><br/>\n\t      </form>\n\t      <button onclick=\"javascript:onChatClick()\">Send</button>\n\t  </div>\n    </div>\n    <script type=\"text/javascript\" src=\"https://code.jquery.com/jquery-2.1.4.min.js\"></script>\n    <script src=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js\"></script>\n\n    <script type=\"text/javascript\">\n    \n      $(document).ready(function() {\n          javascriptCheck();\n          \t$('#id_contextdump').hide();\n      });\n\n      // if javascript is enabled on the browser then can\n      // remove the warning message\n      function javascriptCheck() {\n        $('#no-script').remove();\n      }\n      \n      function createNewDiv(who, message) {\n        console.log('002-001');  \n        var txt = who + ' : ' + message;\n        return $('<div></div>').text(txt);\n      }\n\n      function chat(person, txt) {\n        $('#id_botchathistory').append(createNewDiv(person, txt));\n      }    \n      \n      function processOK(response) {\n        console.log('003-001');\n        console.log(response);\n        console.log(response.botresponse.messageout);\n        console.log(response.botresponse.messageout.output.text);\n        console.log(response.botresponse.messageout.context);\n        console.log(response.botresponse.messageout.context);\n        chat('Bot', response.botresponse.messageout.output.text); \n        $('#id_contextdump').data('convContext', response.botresponse.messageout.context);\n      }\n      \n      function processNotOK() {\n        chat('Error', 'Error whilst attempting to talk to Bot');\n      }\n      \n      function invokeAjax(message) {\n        var contextdata = $('#id_contextdump').data('convContext');\n        console.log('checking stashed context data');\n        console.log(contextdata);\n        \n  \n        //var ajaxData = \"msgdata=\" + message;\n        var ajaxData = {};\n        ajaxData.msgdata = message;\n        if (contextdata) {\n          ajaxData.context = contextdata;    \n        }\n\n        $.ajax({\n          type: 'POST',\n          url: 'botchat',\n          data: ajaxData,\n          success: processOK,\n          error: processNotOK\n        });\n      }\n          \n      // User has entered some text.\n      function onChatClick() {\n        console.log('001-001');\n        var txt = $('#id_chattext').val();\n        chat('You', txt); \n        invokeAjax(txt);\n        console.log('001-002');\n      }\n      \n        \n    </script>\n  </body>\n</html>\n","x":355,"y":83,"wires":[["e0e8110f.2856e"]]},{"id":"e0e8110f.2856e","type":"http response","z":"7c88ce6d.23512","name":"","statusCode":"","headers":{},"x":579,"y":83,"wires":[]},{"id":"84260972.cfae58","type":"http in","z":"7c88ce6d.23512","name":"BOT REST API","url":"/botchat","method":"post","upload":false,"swaggerDoc":"","x":104,"y":129,"wires":[["fb1d2c11.2636d8"]]},{"id":"2ccd1591.6b5d2a","type":"http response","z":"7c88ce6d.23512","name":"","statusCode":"","headers":{},"x":770,"y":180,"wires":[]},{"id":"fb1d2c11.2636d8","type":"function","z":"7c88ce6d.23512","name":"Pre Service Processing","func":"// stash away incoming data\nmsg.mydata = {};\nmsg.mydata.messagein = msg.req.body.msgdata;\nmsg.payload = msg.mydata.messagein;\n\nmsg.params = { \"context\": msg.req.body.context};\n\nreturn msg;","outputs":1,"noerr":0,"x":220,"y":191,"wires":[["9b56d6de.e8896"]]},{"id":"96a62959.b26128","type":"function","z":"7c88ce6d.23512","name":"Post Service Processing","func":"msg.mydata.messageout = msg.payload;\n\nmsg.payload = {};\nmsg.payload.botresponse = msg.mydata;\n\nreturn msg;","outputs":1,"noerr":0,"x":485,"y":191,"wires":[["7306ea9a.7d04c4"]]},{"id":"7306ea9a.7d04c4","type":"watson-discovery-v1","z":"7c88ce6d.23512","name":"","environmentname":"","environment_id":"459ed785-890d-4e62-9d00-5b2da3ab26de","collection_id":"b9264cc1-e3e5-4fa1-aa89-cde3d3a210b7","configurationname":"","configuration_id":"","language_code":"en","collection_name":"","count":"1","passages":true,"nlp_query":true,"query":"","filter":"","aggregation":"","return":"","description":"","size":0,"discovery-method":"query","default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/discovery/api","x":580,"y":300,"wires":[["2ccd1591.6b5d2a"]]},{"id":"da1b58bf.beda08","type":"watson-conversation-v1","z":"7c88ce6d.23512","name":"","workspaceid":"a6591f1a-4cc5-442a-83de-5e353b116506","multiuser":false,"context":false,"empty-payload":false,"default-endpoint":false,"service-endpoint":"","x":390,"y":560,"wires":[["4146fef7.34da2","b4847efa.422f"]]},{"id":"f5470e43.6636a","type":"http in","z":"7c88ce6d.23512","name":"BOT Home Page","url":"/bot2","method":"get","upload":false,"swaggerDoc":"","x":156,"y":473,"wires":[["33b74bb3.9265f4"]]},{"id":"33b74bb3.9265f4","type":"template","z":"7c88ce6d.23512","name":"Conversation BOT Template","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n  <head>\n    <meta charset=\"utf-8\">\n    <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n    <title>\n\t  My BOT\n\t</title>\n\t<link rel=\"stylesheet\"\n        type=\"text/css\"\n        href=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css\" />\n  </head>\n  <body>\n\n    <div class=\"container\">\n      <div id=\"no-script\"class=\"bg-info\">\n        This application needs JavaScript enabled in your browser!\n      </div>\n      <div id=\"id_contextdump\"></div>\n\n      <h1>Moodle Node red Chatbot</h1>\n      <div id=id_botchathistory>\n\t  </div>\n\t  \n\t  <div>\n\t      <form>\n            <label for=\"id_chattext\">Your Input: </label>\n            <input type=\"text\" name=\"chattext\" id=\"id_chattext\">\n            <br/><br/>\n\t      </form>\n\t      <button onclick=\"javascript:onChatClick()\">Send</button>\n\t  </div>\n    </div>\n    <script type=\"text/javascript\" src=\"https://code.jquery.com/jquery-2.1.4.min.js\"></script>\n    <script src=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js\"></script>\n\n    <script type=\"text/javascript\">\n    \n      $(document).ready(function() {\n          javascriptCheck();\n          \t$('#id_contextdump').hide();\n      });\n\n      // if javascript is enabled on the browser then can\n      // remove the warning message\n      function javascriptCheck() {\n        $('#no-script').remove();\n      }\n      \n      function createNewDiv(who, message) {\n        console.log('002-001');  \n        var txt = who + ' : ' + message;\n        return $('<div></div>').text(txt);\n      }\n\n      function chat(person, txt) {\n        $('#id_botchathistory').append(createNewDiv(person, txt));\n      }    \n      \n      function processOK(response) {\n        console.log('003-001');\n        console.log(response);\n        console.log(response.botresponse.messageout);\n        console.log(response.botresponse.messageout.output.text);\n        console.log(response.botresponse.messageout.context);\n        chat('Bot', response.botresponse.messageout.output.text); \n        $('#id_contextdump').data('convContext', response.botresponse.messageout.context);\n      }\n      \n      function processNotOK() {\n        chat('Error', 'Error whilst attempting to talk to Bot');\n      }\n      \n      function invokeAjax(message) {\n        var contextdata = $('#id_contextdump').data('convContext');\n        console.log('checking stashed context data');\n        console.log(contextdata);\n        \n  \n        //var ajaxData = \"msgdata=\" + message;\n        var ajaxData = {};\n        ajaxData.msgdata = message;\n        if (contextdata) {\n          ajaxData.context = contextdata;    \n        }\n\n        $.ajax({\n          type: 'POST',\n          url: 'botchat',\n          data: ajaxData,\n          success: processOK,\n          error: processNotOK\n        });\n      }\n          \n      // User has entered some text.\n      function onChatClick() {\n        console.log('001-001');\n        var txt = $('#id_chattext').val();\n        chat('You', txt); \n        invokeAjax(txt);\n        console.log('001-002');\n      }\n      \n        \n    </script>\n  </body>\n</html>\n","x":405,"y":475,"wires":[["d41c3bae.26f948"]]},{"id":"d41c3bae.26f948","type":"http response","z":"7c88ce6d.23512","name":"","statusCode":"","headers":{},"x":629,"y":475,"wires":[]},{"id":"9e2ed806.c32ea8","type":"http in","z":"7c88ce6d.23512","name":"BOT REST API","url":"/botchat","method":"post","upload":false,"swaggerDoc":"","x":154,"y":521,"wires":[["2a6decb1.849394"]]},{"id":"67c4c93c.7a5768","type":"http response","z":"7c88ce6d.23512","name":"","statusCode":"","headers":{},"x":1190,"y":580,"wires":[]},{"id":"2a6decb1.849394","type":"function","z":"7c88ce6d.23512","name":"Pre Service Processing","func":"// stash away incoming data\nmsg.mydata = {};\nmsg.mydata.messagein = msg.req.body.msgdata;\nmsg.payload = msg.mydata.messagein;\n\nmsg.params = { \"context\": msg.req.body.context};\n\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":640,"wires":[["da1b58bf.beda08"]]},{"id":"4146fef7.34da2","type":"function","z":"7c88ce6d.23512","name":"Post Service Processing","func":"msg.payload = {};\n\nif (msg.payload.botresponse != \"That question is out of scope for this application.\"){\n    msg.payload.botresponse = msg.mydata;\n    return msg;\n} else {\n  return null;   \n}\n","outputs":1,"noerr":0,"x":610,"y":540,"wires":[["67c4c93c.7a5768"]]},{"id":"41a90132.32396","type":"watson-discovery-v1","z":"7c88ce6d.23512","name":"Discovery Query","environmentname":"","environment_id":"459ed785-890d-4e62-9d00-5b2da3ab26de","collection_id":"b9264cc1-e3e5-4fa1-aa89-cde3d3a210b7","configurationname":"","configuration_id":"","collection_name":"","count":"5","passages":false,"nlp_query":false,"query":"","filter":"","aggregation":"","return":"","description":"","size":"","discovery-method":"query","default-endpoint":false,"service-endpoint":"","x":400,"y":940,"wires":[["c2163468.da25f8"]]},{"id":"c2163468.da25f8","type":"debug","z":"7c88ce6d.23512","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"search_results","x":641,"y":934,"wires":[]},{"id":"38bd1794.5fa838","type":"inject","z":"7c88ce6d.23512","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":241,"y":934,"wires":[["41a90132.32396"]]},{"id":"6697e63f.336328","type":"watson-discovery-v1-query-builder","z":"7c88ce6d.23512","name":"Build Query","password":"sYTmYYeNFCLy","environment":"459ed785-890d-4e62-9d00-5b2da3ab26de","environmenthidden":"459ed785-890d-4e62-9d00-5b2da3ab26de","collection":"b9264cc1-e3e5-4fa1-aa89-cde3d3a210b7","collectionhidden":"b9264cc1-e3e5-4fa1-aa89-cde3d3a210b7","nlp_query":false,"nlp_queryhidden":"on","querynlp":"","querynlphidden":"","query1":"entities.text","query1hidden":"","queryvalue1":"","queryvalue1hidden":"","query2":"entities.text","query2hidden":"","queryvalue2":"","queryvalue2hidden":"","query3":"docSentiment.type","query3hidden":"","queryvalue3":"","queryvalue3hidden":"","passages":false,"passageshidden":"on","default-endpoint":false,"service-endpoint":"","x":870,"y":640,"wires":[["af59d5a5.5ed4f8"]]},{"id":"501d817d.c14ee","type":"inject","z":"7c88ce6d.23512","name":"","topic":"","payload":"how do i login to moodle?","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":590,"y":700,"wires":[["6697e63f.336328"]]},{"id":"5e916487.17d5cc","type":"watson-discovery-v1","z":"7c88ce6d.23512","name":"Query Search","environmentname":"","environment_id":"459ed785-890d-4e62-9d00-5b2da3ab26de","collection_id":"b9264cc1-e3e5-4fa1-aa89-cde3d3a210b7","configurationname":"","configuration_id":"","collection_name":"","count":"3","passages":true,"nlp_query":false,"query":"","filter":"","aggregation":"","return":"text","description":"","size":"","discovery-method":"query","default-endpoint":false,"service-endpoint":"","x":800,"y":740,"wires":[["d3c067c4.ba8328","6566132f.7e584c"]]},{"id":"d3c067c4.ba8328","type":"debug","z":"7c88ce6d.23512","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"search_results","x":1008,"y":734,"wires":[]},{"id":"af59d5a5.5ed4f8","type":"link out","z":"7c88ce6d.23512","name":"Discovery Query Set","links":["5024c43c.46e9ec","e9d750ac.90226","ae485a2b.6432c8"],"x":1000,"y":660,"wires":[]},{"id":"ae485a2b.6432c8","type":"link in","z":"7c88ce6d.23512","name":"Discovery Query Execute","links":["af59d5a5.5ed4f8"],"x":682,"y":736,"wires":[["5e916487.17d5cc"]]},{"id":"b4847efa.422f","type":"function","z":"7c88ce6d.23512","name":"Post Service Processing","func":"msg.payload = {};\nmsg.payload.botresponse = msg.mydata;\n\nif (msg.payload.botresponse == \",That question is out of scope for this application.\"){\n    return \"How do I login to Moodle?\";\n} else {\n    return null;\n}\n","outputs":1,"noerr":0,"x":610,"y":620,"wires":[["6697e63f.336328"]]},{"id":"6566132f.7e584c","type":"function","z":"7c88ce6d.23512","name":"Post Service Processing","func":"msg.payload = {};\nmsg.payload.botresponse = msg.mydata;\n\nreturn msg;","outputs":1,"noerr":0,"x":1050,"y":820,"wires":[["67c4c93c.7a5768"]]}]